/*
MY COLOR PALETTE
Ocean Green - #3e9d71
Light Gray - #f8f8f8
Green
Black
*/

@media screen {
    body {
        background-color: #f8f8f8;
    }

    #silicon {
        font-family: "Michroma", Verdana, sans-serif;
        font-size: 45px;
    }

    body,
    hr {
        margin: auto;
    }

    p {
        font-family:
            "Noto Sans",
            Trebuchet MS,
            sans-serif;
        font-size: 15.5px;
    }

    img {
        width: 100%;
    }

    #caption1 {
        margin: 0;
        margin-top: 0.1%;
        margin-left: 4px;
        font-size: 10.5px;
    }

    #title,
    #article {
        margin-top: 6%;
    }

    #title,
    hr,
    #byline,
    .pullquote,
    #ending {
        text-align: center;
    }

    #description,
    #byline {
        margin-top: 4%;
    }

    hr {
        background-color: Green;
        border: none;
        height: 2px;
    }

    hr,
    #article,
    #ending,
    #end-block {
        width: 80%;
    }

    #byline {
        width: 70%;
    }

    a {
        font-weight: 650;
    }

    a,
    .pullquote {
        color: #3e9d71;
    }

    a,
    .quotemark {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .caption {
        font-size: 9.5px;
        margin-top: 0.6%;
        margin-bottom: 7%;
        font-weight: 540;
    }

    .caption,
    .quote,
    .attribution {
        font-family: "Cause", Tahoma, sans-serif;
    }

    .phelps {
        width: 100%;
        margin-bottom: 8%;
    }

    .subtitle {
        margin-top: 10%;
        margin-bottom: 4%;
        font-size: 40px;
        font-family: "Lexend", Verdana, sans-serif;
    }

    .flourish-embed {
        margin-bottom: 10%;
    }

    .words {
        font-weight: 700;
        font-size: 38px;
    }

    .quotemark {
        font-size: 40px;
        line-height: 40px;
    }

    .attribution {
        margin-top: 0.5%;
        margin-bottom: 8%;
        font-size: 20px;
        font-weight: 400;
    }

    #superbaby {
        padding: 0;
    }

    #ending {
        margin-bottom: 10px;
    }

    #end_block {
        margin-top: 20px;
        margin-bottom: 37px;
    }
}

@media (min-width: 576px) {
    #silicon {
        font-size: 60px;
    }

    .subtitle {
        margin-bottom: 2%;
        font-size: 55px;
    }

    #caption1 {
        font-size: 12px;
        margin-top: 3px;
    }

    #title,
    #byline {
        margin-top: 5%;
    }

    #article,
    #ending {
        width: 78%;
    }

    #article,
    .subtitle {
        margin-top: 6%;
    }

    .caption {
        font-size: 10.5px;
    }

    #caption1 {
        font-size: 11px;
        margin-left: 6px;
    }

    .flourish-embed,
    .phelps,
    .caption,
    .attribution {
        margin-bottom: 5.5%;
    }
}

@media (min-width: 768px) {
    #silicon {
        font-size: 70px;
    }

    #byline {
        margin-top: 3%;
    }

    #caption1 {
        margin-left: 8px;
    }

    .caption {
        font-size: 11px;
    }

    .flourish-embed,
    .phelps,
    .caption,
    .attribution {
        margin-bottom: 4%;
    }

    .words {
        font-size: 40px;
    }

    .quotemark {
        font-size: 42px;
    }

    .attribution {
        font-size: 22px;
    }

    #article,
    .subtitle {
        margin-top: 5%;
    }

    #article,
    #ending {
        width: 70%;
    }

    .subtitle {
        font-size: 60px;
        margin-bottom: 3%;
    }
}

@media (min-width: 992px) {
    #byline,
    #title {
        margin-top: 1%;
    }

    #silicon {
        font-size: 80px;
    }

    .subtitle {
        font-size: 62px;
        margin-bottom: 2.2%;
        margin-top: 4%;
    }

    .words {
        font-size: 44px;
    }

    .quotemark {
        font-size: 46px;
    }

    .attribution {
        font-size: 26px;
    }

    #article,
    #ending {
        width: 68%;
    }

    p {
        font-size: 15.5px;
    }

    .flourish-embed,
    .phelps,
    .caption {
        margin-bottom: 3%;
    }
}

@media (min-width: 1200px) {
    #silicon {
        font-size: 90px;
    }

    .subtitle {
        font-size: 70px;
        margin-bottom: 1.2%;
        margin-top: 3%;
    }

    #article,
    #ending {
        width: 62%;
    }
}
