/*
MY COLOR PALETTE
Black - #2a2b2e
Bright Green - #00a649
Pale Green - #cbe1ba
Olive Green - #b3c989
Dark Green - #017233
White - #ffffff
Pale Blue - #97c3ff
Medium Blue - #0a72ff
Dark Blue - #0c00a6
*/

/* 
 id needs a # (cannot be reused, so be careful)
class needs a .
 */

@media screen {
    body {
        background-color: #cbe1ba;
        text-align: center;
    }

    #headshot {
        width: 100%;
        border-radius: 18%;
        border: none;
        margin-top: 20px;
        margin-left: 4px;
        margin-bottom: 20px;
    }

    #name {
        font-family: "Lexend", Verdana, sans-serif;
        color: #0c00a6;
        font-weight: bold;
        margin: 20px;
    }

    #identity {
        font-family:
            "Noto Sans",
            Trebuchet MS,
            sans-serif;
        color: #017233;
        margin-bottom: 40px;
        font-weight: bold;
    }

    button {
        font-family: "Lexend", Verdana, sans-serif;
        color: #2a2b2e;
        background-color: #97c3ff;
        font-weight: bold;
        border-radius: 5px;
    }

    button:hover {
        background-color: #cf37cf;
    }

    #experience,
    #skills,
    #education {
        margin-bottom: 35px;
        color: #017233;
        font-weight: bold;
        font-family:
            "Noto Sans",
            Trebuchet MS,
            sans-serif;
    }

    #navigation {
        margin-bottom: 40px;
        background-color: #2a2b2e;
    }

    #navigation a {
        color: white;
        text-decoration: none;
    }

    #navigation a:hover {
        color: #cf37cf;
    }

    #topper1,
    #topper2,
    #topper3 {
        margin-bottom: 2px;
    }

    #tbe, #sbs, #rhema,
    #skillset,
    #school {
        color: #0a72ff;
        font-family: "Lexend", Verdana, sans-serif;
    }

    .col-sm-4,
    h4,
    h5,
    h6,
    p {
        font-family: "Lexend", Verdana, sans-serif;
    }

    #skills1,
    #skills2,
    #skills3 {
        display: block;
        text-align: left;
        font-weight: 500;
    }

    #degree {
        color: #0c00a6;
    }

    #year {
        color: #cf37cf;
        margin-bottom: 40px;
    }

    #rhemajob,
    #skillset {
        margin-bottom: 80px;
    }

    #skills {
        text-align: center;
    }

    #tbejob,
    #sbsjob {
        margin-bottom: 15px;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 35px;
    }

    #headshot {
        margin-bottom: 50px;
    }

    #navigation {
        font-size: 18px;
    }

    #graduation {
        text-align: center;
        padding-left: 70px;
    }

    #skillset {
        font-size: 20px;
        padding-left: 55px;
    }

    #skills {
        text-align: center;
    }

    #degree,
    #school,
    #year {
        font-size: 25px;
    }

    #degree,
    #school {
        margin-bottom: 10px;
    }

    #year {
        margin-bottom: 60px;
    }
}

@media (min-width: 768px) {
    #name {
        font-size: 65px;
        margin-bottom: 50px;
    }

    #navigation {
        font-size: 22px;
    }

    #identity {
        margin-bottom: 45px;
        font-size: 50px;
    }

    #jobs {
        padding-left: 20px;
    }

    #skills {
        text-align: center;
    }
}

@media (min-width: 992px) {
    #name {
        font-size: 80px;
    }

    #identity {
        margin-bottom: 75px;
        font-size: 60px;
    }

    button {
        font-size: 20px;
    }

    h1 {
        font-size: 70px;
    }

    #jobs {
        padding: 0;
    }

    #skillset {
        padding-left: 100px;
    }

    #skills {
        text-align: center;
    }

    #year {
        margin-bottom: 80px;
    }
}

@media (min-width: 1200px) {
    #name {
        font-size: 90px;
    }

    #identity {
        font-size: 65px;
    }

    button,
    #navigation {
        font-size: 30px;
    }

    h4,
    #skillset {
        font-size: 25px;
    }

    #skillset {
        padding-left: 135px;
    }

    #skills {
        text-align: center;
    }

    h5 {
        font-size: 22px;
    }

    h6 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }
}
