/*
MY COLOR PALETTE
Black - #2a2b2e
Bright Green - #00a649
Pale Green - #cbe1ba
Olive Green - #b3c989
Dark Green - #017233
White - #ffffff
Pale Blue - #97c3ff
Medium Blue - #0a72ff
Dark Blue - #0c00a6
*/

/* 
 id needs a # (cannot be reused, so be careful)
class needs a .
 */

@media screen {
    body {
        background-color: #cbe1ba;
        text-align: center;
    }

    #headshot {
        width: 100%;
        border-radius: 18%;
        border: none;
        margin-top: 20px;
        margin-left: 4px;
        margin-bottom: 20px;
    }

    #name {
        font-family: "Lexend", Verdana, sans-serif;
        color: #0c00a6;
        font-weight: bold;
        margin: 20px;
    }

    #identity {
        font-family:
            "Noto Sans",
            Trebuchet MS,
            sans-serif;
        color: #017233;
        margin-bottom: 40px;
    }

    #contact {
        font-family: "Lexend", Verdana, sans-serif;
        color: #2a2b2e;
        background-color: #97c3ff;
        font-weight: bold;
        border-radius: 5px;
    }

    #contact:hover {
        background-color: #cf37cf;
    }

    #experience,
    #skills,
    #education {
        margin-bottom: 35px;
        color: #017233;
        font-weight: bold;
        font-family:"Noto Sans", Trebuchet MS, sans-serif;
    }

    #navigation {
        margin-bottom: 40px;
        background-color: #2a2b2e;
    }

    #navigation a {
        color: white;
        text-decoration: none;
    }

    #navigation a:hover {
        color: #cf37cf;
    }

    #topper1,
    #topper2,
    #topper3 {
        margin-bottom: 2px;
    }

    #tbe,
    #sbs,
    #rhema,
    #skills1,
    #skills2,
    #skills3,
    #school {
        color: #0a72ff;
        font-family: "Lexend", Verdana, sans-serif;
    }

.col-sm-4, h4, h5, h6, p {
     font-family: "Lexend", Verdana, sans-serif;   
    }
    
    #skills1,
    #skills2,
    #skills3 {
        display: block;
        text-align: left;
        font-weight: 500;
    }

    #degree {
        color: #0c00a6;
    }

    #year {
        color: #cf37cf;
    }
 
#rhemajob, #skillset {
    margin-bottom:80px;
    }
   
#tbejob, #sbsjob {
    margin-bottom:15px;
    }
    
}

@media (min-width: 576px) {
    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size:35px;
    }
    
    #graduation {
    text-align:center;  
    padding-left:70px;
    }

    #skills1, #skills2, #skills3 {
        font-size:20px;
    }
    
    #skills, #skillset {
        padding-left: 55px;
    }
  
    #degree, #school, #year {
        font-size:25px;
        margin-bottom:10px;
    }
    
    }

@media (min-width: 768px) {
    #name {
        font-size:65px;
        margin-bottom:50px;
    }
    
    #identity {
        margin-bottom:45px;
    }
    
    #jobs {
        padding-left:20px;
    }
    
}

@media (min-width: 992px) {
    #name {
        font-size:80px;
    }
    
    #identity {
        margin-bottom:75px;
    }
    
    h1 {
        font-size:70px;
    }
    
    #jobs {
        padding:0;
    }
    
    #skills, #skillset {
        padding-left:100px;
    }
    
}


